@keyframes cursor {
  to {
    transform: translateX(4px);
  }
} 

@keyframes underline {
  from {
    transform: scaleX(0);
    transform-origin: 0;
  }
  to {
    transform: scaleX(1);
    transform-origin: left;
  }
  }

@keyframes fading {
  to {
    opacity: 0.6;
  }
}

@keyframes filling {
  from {
    transform: scaleX(0);
    transform-origin: 0;    
  }
  to {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.sparks {
  opacity: 0;
}

@keyframes heart-scaling {
  from {
    transform: scaleX(1);
    transform-origin: 0;
  }
  to {
    transform: scale(1.5);
    transform-origin: center;
  }
}

@keyframes sparks-appearance {
  to {
    opacity: 1;
  }
}

.main__card-icon-button:focus-visible {
  border: 2px solid var(--main-color);
  transition: var(--animation-fluency) ease;
}

.like-icon .core {
  fill: var(--background-color);
  transition: fill var(--animation-fluency) linear 0.03s;
}

.like-icon .main-body {
  fill: var(--background-color);
  transition: fill var(--animation-fluency) linear;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: fill var(--animation-fluency) linear;
}

.like-icon:hover .main-body {
  fill: var(--main-color);
  transition: fill var(--animation-fluency) linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-icon-action-fill-color);
  transition: fill var(--animation-fluency) linear;
}

.like-icon:active .main-body {
  fill: var(--heart-icon-action-fill-color);
  transition: fill var(--animation-fluency) linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-icon-action-fill-color);
  transition: fill var(--animation-fluency) linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-icon-action-fill-color);
  transition: fill var(--animation-fluency) linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-icon-action-fill-color);
  transition: fill var(--animation-fluency) linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scaling 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-appearance 0.3s ease-in 0.3s 1 alternate;
}