.page {  
  display: grid;
  justify-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  background-color: var(--background-color);
  color: var(--main-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: var(--background-image);
}

.header {
  display: grid;
  justify-items: center;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  margin-block: 100px;
  font-family: 'Press Start 2P', fantasy;
  text-transform: uppercase;
}

.header,
.main {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header__subtitle {
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-block-end: clamp(0.875rem, 0.6989rem + 0.7512vw, 1.375rem);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 23px;
}

.header__theme-menu {
  margin-block: 23px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-inline-start: 20px;
}

.theme-menu__button {  
  position: relative;
  padding: 0;
  border: none;
  font-family: 'Press Start 2P', fantasy;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  animation: fading var(--animation-fluency) ease forwards;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus-visible::after {
  content: ' ';
  display: block;
  background: var(--main-color);
  animation: underline var(--animation-fluency);
  block-size: 2px;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: '▶';
  animation: cursor alternate ease-in-out 0.5s infinite;
  left: -20px;
}

.main__card-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(3.25rem, 3.338rem + -0.3756vw, 3rem);
}

.main__card-item {
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.main__picture-wrap {
  position: relative;
  block-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
}

.label {
  position: absolute;
  left: clamp(16.5rem, 9.6998rem + 29.0141vw, 35.8125rem);
  top: 25px;
  color: var(--main-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 1px var(--outline-color);
  font-family: 'Press Start 2P';
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

@supports ((text-stroke: 1px var(--outline-color)))
 or ((-webkit-text-stroke: 1px var(--outline-color))) {
  .label {
    -webkit-text-stroke: 1px var(--outline-color);
  }
}

.main__picture {
  block-size: 100%;
  object-fit: cover;
}

.main__title {
  padding: 4px 10px 6px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--titles-font-weight);
  line-height: 21.78px;
}

.main__description-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 27px;
  margin-block-start: clamp(1.4375rem, 1.2614rem + 0.7512vw, 1.9375rem);
  margin-inline: 25px;
}

.main__description {
  font-size: 18px;  
  line-height: 21px;
}

.main__card-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
  margin: 25px 25px 25px 0;
}

.card__icon-button {
  padding: 0;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  block-size: 38px;
  inline-size: 39px;
}

.like-icon {
  block-size: 100%;
  inline-size: 100%;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.button {
  position: relative;
  padding: 0;
  border: 2px solid var(--main-color);
  background-color: transparent;
  cursor: pointer;
  font-family: 'Press Start 2P', fantasy;
  font-size: 14px;
}


.card__like-button {
  block-size: 38px;
  inline-size: 130px;  
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
  transition: box-shadow var(--animation-fluency) ease;
}

.button:hover::before {
  content: ' ';
  position: absolute;
  inset: 0;
  display: block;
  block-size: 100%;
  inline-size: 100%;
  background: var(--main-color);
  animation: filling 0.5s ease-in-out;
}

.button__text {
  display: block;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.footer {
  display: flex;
  justify-content: center;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  block-size: clamp(14.75rem, 15.3662rem + -2.6291vw, 13rem);
  inline-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
}

.footer__button {
  display: flex;
  flex-direction:  row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  block-size: clamp(5.25rem, 5.8882rem + -2.723vw, 3.4375rem);
  inline-size: fit-content;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  margin-block-start: clamp(3.25rem, 3.294rem + -0.1878vw, 3.125rem);
  padding-inline: 20px;  
}

.button__icon {
  color: var(--main-color);
  inline-size: 28px;
  block-size: 28px;
}

@media (max-width: 768px) {
  .footer__button {
    flex-direction:  column;
}
}

.dialog {
  padding: 0;
}

.dialog__button {
  text-transform: uppercase;
  block-size: 38px;
  inline-size: 100%;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog[open] {  
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.dialog__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-block: 30px;
  margin-inline: clamp(2.625rem, 2.8891rem + -1.1268vw, 1.875rem);
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.dialog__text {
  font-family: 'Press Start 2P', fantasy;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  color: var(--main-color);
}

.footer__button .button__text {
  inline-size: 100%;
}

.dialog__content .button__icon {
  inline-size: 90px;
}

.card-2-picture {
  filter: opacity(0.8);
}

.card-3-picture {
  filter: grayscale(0.8);
}

.card-4-picture {
  filter: saturate(158%);
}

.card-5-picture {
  filter: hue-rotate(-90deg);
}

.card-6-picture {
  filter: sepia(80%);
}

.card-7-picture {
  filter: invert(0.7);
}

.card-8-picture {
  filter: sepia(1) contrast(2) brightness(200%);
}
